body {
	margin: 0;

}

header {
	height: 10vh;
	width: 100vw;
}

#main {
	height: 80vh;
	width: 80vw;
	margin: auto;
	background-color: blue;
	border: 1px solid black;
}

footer {
	height: 10vh;
	width: 100vw;
}

.tile_row {
	height: 25%;
	width: 100%;
	background-color: green;
	border: 1px solid black;
}

.tile {
	height: 100%;
	width: 22%;
	background-color: white;
	border: 1px solid black;
	display:inline-block;
	margin: auto;

}
